*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: arial;
	font-size: 16px;
	margin: 0;
	background: #fff;
	min-height: 100vh;
	background:#000;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.main-container{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;   
}
.image-container{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
}
.image{
    width:100%;
    height: 100%;
    object-fit: cover;

    animation-name: giro;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-direction: normal;
    animation-timing-function: linear;
}
.controls-container{
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes giro{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

button{
	padding: 10px 25px;
	font-size: 22px;
	line-height: 40px;
	min-width: 150px;
	text-align: center;
	cursor: pointer;
	background-color: white;
	color: #fff;
	border-radius: 5px;
	border:0px;
	height: 60px;
}
